/* muda a cor dos requistos quando validados */
.password-verification {
  margin-top: 20px;
  font-size: 14px;
}

.password-verification ul {
  list-style: none;
  padding-left: 20px;
}

.password-verification li {
  margin-bottom: 5px;
}

.password-verification .met {
  color: green;
}

/* para ocultar os requisitos da senha  */
.hidden {
  display: none;
}
